<div id="siteMain">
  <p>Its easy just drag the silder to the time as from u typically have time</p>
<div class="FreeTimeCalendar">
  <!-- <div id="Left" class="col"><div class="calheader">Time</div></div>-->
  <div id="Monday" class="col"><div class="calheader">Monday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Tuesday" class="col"><div class="calheader">Tuesday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Wednesday" class="col"><div class="calheader">Wednesday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Thursday" class="col"><div class="calheader">Thursday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Friday" class="col"><div class="calheader">Friday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Saturday" class="col"><div class="calheader">Saturday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
  <div id="Sunday" class="col"><div class="calheader">Sunday</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag appCalendarBlock></div></div></div>
</div>
</div>
