<div id="siteMain">
  <p>Its easy just drag the silder to the time as from u typically have time</p>
<div class="FreeTimeCalendar">
  <!-- <div id="Left" class="col"><div class="calheader">Time</div></div>-->
  <div id="Monday" class="col"><div class="calheader">Mo</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.mondayFreetime' (onTimeChanged)="changeFreetimeMonday($event)"></div></div></div>
  <div id="Tuesday" class="col"><div class="calheader">Tu</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.tuesdayFreetime' (onTimeChanged)="changeFreetimeTuesday($event)"></div></div></div>
  <div id="Wednesday" class="col"><div class="calheader">Wed</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.wednessdayFreetime' (onTimeChanged)="changeFreetimeWednesday($event)"></div></div></div>
  <div id="Thursday" class="col"><div class="calheader">Thu</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.thursdayFreetime' (onTimeChanged)="changeFreetimeThursday($event)"></div></div></div>
  <div id="Friday" class="col"><div class="calheader">Fr</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.fridayFreetime' (onTimeChanged)="changeFreetimeFriday($event)"></div></div></div>
  <div id="Saturday" class="col"><div class="calheader">Sa</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.saturdayFreetime' (onTimeChanged)="changeFreetimeSaturday($event)"></div></div></div>
  <div id="Sunday" class="col"><div class="calheader">Su</div><div class="calSlot"><div class="freeTime" cdkDragBoundary=".calSlot" cdkDrag [appCalendarBlock]='infreetimeHandler.sundayFreetime' (onTimeChanged)="changeFreetimeSunday($event)"></div></div></div>
</div>
<button mat-button (click)="submit()">Submit</button>
</div>
